#time {
  position: fixed;
  top: 1em;
  right: 1em;
  z-index: 1000;
  background-color: white;
  opacity: 0.7;
}

#high-five {
  position: fixed;
  top: 1em;
  left: 1em;
  z-index: 1000;
  background-color: white;
  opacity: 0.7;
}
